<% provide(:title, "About") %>
<div class="container">
  <%= render 'pages/about_title' %>
  <div class="row">
    <div class="col-sm-12 blog-main">

    <!-- Post Content -->
        <b>Have you blogged before?</b>
        <p></p>
        <p>Yes and it was called XX-Y. I grew up a tomboy with short hair and baggy clothes so the blog name was a play on the XX and XY sex chromosomes for a female and a male. 
        </p>
        <p>I thought I was pretty smart to have come up with that witty blog name.</p>

        <b>Why blog now?</b>
        <p></p>
        <p>I want to get in a habit of writing a lot more. I want to start developing my own voice, and what better way to do it than on my own piece of the web?</p>

        <b>What should I know about you?</b>
        <p></p>
        <p>I work at a Big 4 accounting firm, graduated with a degree in Economics, had a stint with the Royal Navy, played in an all girls rock band and once dropped a scuba diving oxygen tank on my toe.<p>
        <p>I'm also learning how to code. You can check out my progress <%=link_to "here", projects_path %> and it's a big moment for me as I've had many stop and starts before finally deploying this blog.</p>
        
        <p>My learning to code journey first began in 2007 when I first picked up a book on Java.</p>

        <p>I really wish I could tell you a story about how the first app I built, which was guitar tab management tool to store and organise guitar tab, received rave reviews that <a href="https://en.wikipedia.org/wiki/Mark_Zuckerberg#Early_years" target="_blank"> even Microsoft offered me a job on the spot</a>. Nothing could be further from the truth.
        </p>
        <p>What I built had a total number of 0 users. Yup - even I didn't use it because it barely worked. I was just grateful I scrapped a B for a college project.
        </p>
       
        <p>I became frustrated and didn't pick it up again until a few years later when I managed to convince a university society to let me build their website and manage their internal IT systems. Studying in a social science university meant there really wasn't that much competition for the role so I lucked out. It gave me an excellent opportunity to put those books I bought on HTML, CSS and Javascript to good use.
        </p>

        <p>But knowing about the front end just wasn't enough. So, for the next few years, I struggled through a few courses on Python and Django before finally stumbling onto Ruby on Rails. </p>
        
        <p>So, this blog marks a turning point for me. I can now build full-fledged apps. Yes, they may be simple, but it marks a new beginning for me.</p>
        
    </div><!-- /.blog-main -->

  </div><!--end of row-->
</div><!-- /.container -->

