<div class="container">
  <%= render 'pages/about_title' %>
  <div class="row">
    <div class="col-sm-12 blog-main">

    <!-- Post Content -->
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
        <u>Have you blogged before?</u>
        <p>Yes and it was called XX-Y. I grew up a tomboy with short hair and baggy clothes so the blog name was a play on the XX and XY sex chromosome for a female and a male. 
        </p>

        <p>I blogged about teenage angst and self identity issues. I was still after all a teenager.
        </p>

        <u>Why blog now?</u>
        <p>I want to get in a habit of writing a lot more. I want to start developing my own voice, and what better way to do it than on my own piece of the web?</p>

        <p>Also, I want to tell the world I've been programming.</p>

        <u>So, tell me about journey from wanting to program to now?</u>
        <p>My foray into programming happened in 2007 when I first picked up a book on Java. I have always been fascinated with the Internet and all the cool stuff people have built on it. I want to build something cool too. 
        </p>
        <p>The first app I built was a guitar tab management tool to store and organise guitar tabs for a college project. It's a bit like your own personal songbook. I transcribed a lot of music and then promptly misplaced the sheet of paper. So I thought, let's try and build something to solve it.
        </p>
        <p>I wish I could tell you a story about how I <a href="https://en.wikipedia.org/wiki/Mark_Zuckerberg#Early_years"> put it up online and received job offers from the likes of Microsoft</a> but decided to reject it and found a startup. Nothing could be further from the truth.
        </p>
        <p>What I built had a total number of 0 users. Yup - even I didn't use it because it barely worked. I was just grateful I scrapped a B for it.
        </p>
        <p>I became frustrated and didn't pick it up again until a few years later when I managed to convince a university society to let me build their website and manage their internal IT systems. Studying in a social science institution meant there really wasn't that much competition for the role so I lucked out. It gave me an excellent opportunity to put those books I bought on HTML, CSS and Javascript to good use.
        </p>

        <p>But knowing about the front end just wasn't enough. So, for the next few years, I struggled through a few courses on Python and Django before finally stumbling onto Ruby on Rails. </p>

        <p>So, this blog marks a turning point for me. I can now build full-fledged apps. Yes, they may be simple, but this is only the beginning.</p>

 

    </div><!-- /.blog-main -->

  </div><!--end of row-->
</div><!-- /.container -->

