<div class="container">
  <%= render 'pages/project_title' %>
  <div class="row">
    <div class="col-sm-12 blog-main">

    <!-- Post Content -->
        <blockquote>
  		<p>The best way to learn how to code is to start building</a>
  		</p>
		</blockquote>
		<p>It's a phrase I've read and heard from many people. But for the longest time, I was afraid and wanted to read up on as many resources as possible to prepare myself. </p>
		<p>I don't think I still am ready, but I am ready to take the plunge.</p>
		<p>So <code>hello world</code>, here's what I'm working on.
        </p>
        <u>1. Blog</u>
        <p>My first project is to build this blog that you are on at the moment. I can login as an admin user, create and edit posts. Along the way, I learnt about authentication and authorisation of users. Simple enough - but it does the job!</p>
       	</p>
        <p>More features I want to implement;</p>
  		<ul>
  		<li>Comments</li>
  		<li>Tagging</li>
  		<li>Ability to add photos on blog posts</li>
		</ul>

		<p><a href="http://www.github.com/juvern">Link to codebase</a></p>

        <u>2. Instagram clone</u>
        <p>Picking up on my newfound chops from building a blog, I am taking it a step further by allowing users to follow and see each other's post.</p>
       	</p>
        <p>More features I want to implement;</p>
  		<ul>
  		<li>Comments</li>
  		<li>Tagging</li>
  		<li>Ability to add photos on blog posts</li>
		</ul>

 

    </div><!-- /.blog-main -->

  </div><!--end of row-->
</div><!-- /.container -->