<% provide(:title, "Projects") %>
<div class="container">
  <%= render 'pages/project_title' %>
  <div class="row">
    <div class="col-sm-12 blog-main">

    <!-- Post Content -->
      <blockquote>
  		<p>The best way to learn how to code is to start building.</a>
  		</p>
		</blockquote>
		<p>It's a phrase I've read and heard from many people. But for the longest time, I was afraid and wanted to read up on as many resources as possible to prepare myself. </p>
		<p>I still don't think I am ready, but I am ready to take the plunge.</p>
		<p>So <code>hello world</code>, here's what I'm working on.
        </p>
        <b>1. Blog</b>
        <p></p>
        <p>My first project is to build this blog that you are on at the moment. I can login as an admin user, create and edit posts. Along the way, I learnt about authentication and authorisation of users. Simple enough - but it does the job.</p>
       	</p>
        <p>More features I want to implement;</p>
  		<ul>
      <li><s>Sticky footer</s> done - 23 Sep 2014</li>
      <li><s>Delete posts</s> done - 28 Sep 2014</li>
      <li><s>Comments</s> done - 28 Sep 2014</li>          
  		<li>Tagging</li>
  		<li>Ability to add photos in blog posts</li>
      <li>Customised link</li>
		</ul>

		<p><a href="http://github.com/juvern/blog" target="_blank">Link to codebase</a></p>

        <b>2. Instagram clone</b>
        <p></p>
        <p>Picking up on my newfound chops from building a blog, I am taking it a step further by allowing users to follow and see each other's post.</p>
       	</p>

        <i>Still in progress</i>
    <p></p>
    <p><a href="https://github.com/juvern/insta_clone" target="_blank">Link to codebase</a></p>


    </div><!-- /.blog-main -->

  </div><!--end of row-->
</div><!-- /.container -->