@import 'bootstrap';
@import "bootstrap-sprockets";

/*
 * Globals
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #555;
  padding-top: 20px;
  margin-bottom: 60px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/* 
* Custom page header 
*/
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Change colour of linked title */
h3 a {
  color: black;
}

/* Remove rounded corners of nav items */
.nav-pills li a {
  border-radius: 0px;
}

/* Underline nav items if current */
.active-underline{
    border-bottom: 5px solid #222;
}

/* Underline tab was page selected */
.yellow {
  background-color: #eec108;
  color: white;
}

.purple {
  background-color: #7e0b1b;
  color: white;
}

.green {
  background-color: #64b822;
  color: white;
}


#logo {
  font-size: 30px;
}


/* 
* Jumbotron 
*/

.jumbotron {
  text-align: center;
  color:white;
  border-bottom: 1px solid #e5e5e5;
  background-image: url("sunny.jpeg") 
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/*
 * Blog name and description
 */


.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 16px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  /*padding: 15px;*/
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Sticky Footer
 */

.blog-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #f5f5f5;
}
.blog-footer p:last-child {
  margin: 20px 0;
}