<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Why blog?</h4>
    <p>I want to be recognised as one of the <a href="https://en.wikipedia.org/wiki/1%25_rule_(Internet_culture)">1% of internet users.</a>
    </p>
    <p>Also, it's pretty cool to have my own domain name!</p>
  </div>
  <div class="sidebar-module sidebar-module-inset">
    <h4>Current Projects</h4>
    <p>Check out what I've been building!</p>
    <ol class="list-unstyled">
      <li><a href="#">Blog</a></li>
      <li><a href="#">Instagram Clone</a></li>
      <li><em><%= link_to "more...", current_projects_path %></em> </li>
    </ol>
  </div>
  <div class="sidebar-module sidebar-module-inset">
    <h4>Say hello!</h4>
    <ol class="list-unstyled">
      <li><a href="http://www.twitter.com/juvern">Twitter</a></li>
      <li><a href="http://uk.linkedin.com/in/juvern">LinkedIn</a></li>
      <li><a href="http://www.quora.com/Ju-Vern-See">Quora</a></li>      
      <li><a href="http://www.github.com/juvern">GitHub</a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->